.photo-grid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 12rem));
  // grid-template-rows: repeat(auto-fill, );
  grid-auto-rows: 7rem;
  gap: 0.4rem;

  li {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}
